$dark-blue: #073c79;
$blue: #288ee7;
$light-blue: #b2dbff;

$black: #232327;
$hover-black: #111111;
$white: #ffffff;

$gray-1: #9497aa;
$gray-2: #c6cbd9;
$gray-3: #f4f4fa;
$gray-4: #f4f4fa;

$par: #70738a;

$red: #f33737;
$green: #26ca42;
$orange: #ff6617;
$yellow: #ffb424;

$hover: all 0.3s ease-in-out;

$app-height: var(--app-height);
